@import (reference) "_vars";

.card-mixin {
  background-color: white;
  border: 4px @blue solid;
  color: black;
}

.triangle-mixin {
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
}
