.bootstrap-test {
  padding: 5px 10px 5px 10px;
  background-color: #999999;
  font-size: 12px;
  font-weight: bold;
  color: white;
  position: fixed;
  z-index: 99;
}
.xs,
.sm,
.md,
.lg {
  display: none;
}
@media all and (max-width: 749px) {
  .xs {
    display: inline;
  }
}
@media all and (min-width: 750px) and (max-width: 970px) {
  .sm {
    display: inline;
  }
}
@media all and (min-width: 971px) and (max-width: 1169px) {
  .md {
    display: inline;
  }
}
@media all and (min-width: 1170px) {
  .lg {
    display: inline;
  }
}
@font-face {
  font-family: 'Exo';
  src: url('../fonts/Exo.eot');
  src: local('☺'), url('../fonts/Exo.woff') format('woff'), url('../fonts/Exo.ttf') format('truetype'), url('Exo.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Trebuchet MS Bold';
  src: url('../fonts/TrebuchetMSBold.eot');
  src: local('☺'), url('../fonts/TrebuchetMSBold.woff') format('woff'), url('../fonts/TrebuchetMSBold.ttf') format('truetype'), url('TrebuchetMSBold.svg') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Trebuchet MS Regular';
  src: url('../fonts/TrebuchetMSReg.eot');
  src: local('☺'), url('../fonts/TrebuchetMSReg.woff') format('woff'), url('../fonts/TrebuchetMSReg.ttf') format('truetype'), url('TrebuchetMSReg.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-attachment: fixed;
  background-color: black;
  background-image: url("../background.png");
  background-position: center center;
  background-repeat: repeat-x;
  background-size: cover;
  color: white;
}
.parent-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
h1 {
  display: block;
  font-family: "Exo", Helvetica, Arial;
  font-size: 36px;
  text-align: center;
  padding: 45px 0 30px 0;
}
ul.cards {
  list-style: none;
  overflow: hidden;
}
ul.cards li {
  padding: 0 25px 25px 25px;
  float: left;
  overflow: hidden;
  width: 320px;
}
ul.cards li:hover {
  cursor: pointer;
}
ul.cards li:hover .triangle-container .triangle-border {
  border-color: transparent transparent #2ea8e6 transparent;
}
ul.cards li:hover .preheader,
ul.cards li:hover .card {
  border-color: #2ea8e6;
}
ul.cards li:hover .preheader .weight,
ul.cards li:hover .card .weight {
  background-color: #2ea8e6;
}
ul.cards li .triangle-container {
  float: left;
  width: 48px;
  height: 48px;
}
ul.cards li .triangle-container .triangle-border {
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  position: relative;
  border-width: 0 0 48px 48px;
  border-color: transparent transparent #1698d9 transparent;
}
ul.cards li .triangle-container .triangle-border .triangle {
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  top: 5px;
  right: 0;
  border-width: 0 0 43px 43px;
  border-color: transparent transparent white transparent;
}
ul.cards li .preheader {
  background-color: white;
  border: 4px #1698d9 solid;
  color: black;
  border-bottom: none;
  border-left: none;
  border-top-right-radius: 10px;
  float: left;
  width: 262px;
  height: 44px;
}
ul.cards li .preheader p {
  color: #666666;
  font-family: "Trebuchet Regular", "Myriad Pro", Helvetica, Arial;
  font-size: 16px;
  padding: 20px 0 0 0;
}
ul.cards li .card {
  background-color: white;
  border: 4px #1698d9 solid;
  color: black;
  background-position: left bottom;
  background-repeat: no-repeat;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top: none;
  float: left;
  height: 480px;
  position: relative;
  width: 306px;
}
ul.cards li .card h2 {
  font-family: "Trebuchet Bold", "Myriad Pro", Helvetica, Arial;
  font-weight: 700;
  font-size: 48px;
  padding: 20px 0 0 42px;
  color: black;
  line-height: 40px;
}
ul.cards li .card h2 span {
  font-size: 24px;
}
ul.cards li .card p {
  font-family: "Trebuchet Regular", "Myriad Pro", Helvetica, Arial;
  color: #666666;
  font-size: 14px;
  padding: 0 0 0 42px;
  line-height: 1.2;
}
ul.cards li .card .weight {
  position: absolute;
  bottom: 10px;
  right: 10px;
  border-radius: 50%;
  background-color: #1698d9;
  width: 80px;
  height: 80px;
}
ul.cards li .card .weight p {
  color: white;
  font-family: "Trebuchet Regular", "Myriad Pro", Helvetica, Arial;
  text-align: center;
  font-size: 21px;
  padding: 0;
}
ul.cards li .card .weight p.number {
  font-size: 42px;
  padding: 10px 0 0 0;
  line-height: 43px;
}
ul.cards li .call-to-action {
  float: left;
  width: 100%;
}
ul.cards li .call-to-action p {
  display: block;
  font-family: "Trebuchet Regular", "Myriad Pro", Helvetica, Arial;
  font-size: 13px;
  padding: 15px 0 10px 0;
  text-align: center;
}
ul.cards li .call-to-action p a {
  text-decoration: none;
  color: #1698d9;
  border-bottom: 1px dashed #1698d9;
}
ul.cards li .call-to-action p a:hover {
  color: #2ea8e6;
  border-bottom: 1px dashed #2ea8e6;
}
ul.cards li .call-to-action p.active {
  display: none;
}
ul.cards li .call-to-action p.disabled {
  display: none;
  color: #ffff66;
}
ul.cards .active:hover .triangle-container .triangle-border {
  border-color: transparent transparent #e62e7a transparent;
}
ul.cards .active:hover .preheader,
ul.cards .active:hover .card {
  border-color: #e62e7a;
}
ul.cards .active:hover .preheader .weight,
ul.cards .active:hover .card .weight {
  background-color: #e62e7a;
}
ul.cards .active:hover .preheader p.default {
  display: none;
}
ul.cards .active:hover .preheader p.hover {
  display: block;
  color: #e62e7a;
}
ul.cards .active:hover .call-to-action p.default {
  display: none;
}
ul.cards .active:hover .call-to-action p.active {
  display: block;
}
ul.cards .active .triangle-container .triangle-border {
  border-color: transparent transparent #d91667 transparent;
}
ul.cards .active .preheader,
ul.cards .active .card {
  border-color: #d91667;
}
ul.cards .active .preheader .weight,
ul.cards .active .card .weight {
  background-color: #d91667;
}
ul.cards .disabled:hover {
  cursor: auto;
}
ul.cards .disabled:hover .triangle-container .triangle-border {
  border-color: transparent transparent #b3b3b3 transparent;
}
ul.cards .disabled:hover .preheader,
ul.cards .disabled:hover .card {
  border-color: #b3b3b3;
}
ul.cards .disabled:hover .preheader .weight,
ul.cards .disabled:hover .card .weight {
  background-color: #b3b3b3;
}
ul.cards .disabled:hover .preheader p.default {
  display: block;
}
ul.cards .disabled:hover .preheader p.hover {
  display: none;
  color: #b3b3b3;
}
ul.cards .disabled .triangle-container .triangle-border {
  border-color: transparent transparent #b3b3b3 transparent;
}
ul.cards .disabled .preheader,
ul.cards .disabled .card {
  border-color: #b3b3b3;
}
ul.cards .disabled .preheader .weight,
ul.cards .disabled .card .weight {
  background-color: #b3b3b3;
}
ul.cards .disabled .preheader p {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  opacity: 0.5;
}
ul.cards .disabled .card .ghost {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  opacity: 0.5;
  position: absolute;
  background-color: white;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
ul.cards .disabled .call-to-action .disabled {
  display: block;
}
ul.cards .disabled .call-to-action .default,
ul.cards .disabled .call-to-action .active {
  display: none;
}
@media all and (max-width: 840px) {
  ul.cards li {
    float: none;
    margin: 0 auto;
  }
  ul.cards li .card {
    height: 430px;
  }
}
@media all and (min-width: 841px) {
  ul.cards {
    width: 740px;
    margin: 0 auto;
  }
  ul li:last-child {
    float: none;
    margin: 0 auto;
  }
}
@media all and (min-width: 1170px) {
  ul.cards {
    width: 1110px;
    margin: 0 auto;
  }
  ul li:last-child {
    float: none;
    margin: 0 auto;
  }
}
@media all and (min-width: 1300px) {
  .centered-container {
    margin: 50px 0 0 0;
  }
}
@media all and (min-width: 1600px) {
  .centered-container {
    margin: 100px 0 0 0;
  }
}
@media all and (min-width: 1920px) {
  .centered-container {
    margin: 200px 0 0 0;
  }
}
