@font-face {
  font-family: 'Exo';
  src: url('../fonts/Exo.eot');
  src: local('☺'), url('../fonts/Exo.woff') format('woff'), url('../fonts/Exo.ttf') format('truetype'), url('Exo.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Trebuchet MS Bold';
  src: url('../fonts/TrebuchetMSBold.eot');
  src: local('☺'), url('../fonts/TrebuchetMSBold.woff') format('woff'), url('../fonts/TrebuchetMSBold.ttf') format('truetype'), url('TrebuchetMSBold.svg') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Trebuchet MS Regular';
  src: url('../fonts/TrebuchetMSReg.eot');
  src: local('☺'), url('../fonts/TrebuchetMSReg.woff') format('woff'), url('../fonts/TrebuchetMSReg.ttf') format('truetype'), url('TrebuchetMSReg.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  background-color: black;
  background: url("../back.jpg") no-repeat center center fixed;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  color: white;
}
.wrap {
  outline: 1px dashed red;
  margin: 0 auto 30px auto;
  width: 90%;
}
h1 {
  display: block;
  font-family: "Exo", Helvetica, Arial;
  font-size: 36px;
  text-align: center;
  padding: 45px 0 30px 0;
}
ul.cards {
  list-style: none;
  overflow: hidden;
}
ul.cards li {
  padding: 0 20px 0 0;
  float: left;
  overflow: hidden;
  width: 320px;
}
ul.cards li .triangle-container {
  float: left;
  width: 48px;
  height: 48px;
  outline: 1px dashed red;
}
ul.cards li .triangle-container .triangle-border {
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  position: relative;
  border-width: 0 0 48px 48px;
  border-color: transparent transparent #1698d9 transparent;
}
ul.cards li .triangle-container .triangle-border .triangle {
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  top: 5px;
  right: 0;
  border-width: 0 0 43px 43px;
  border-color: transparent transparent white transparent;
}
ul.cards li .preheader {
  background-color: white;
  border: 4px #1698d9 solid;
  color: black;
  border-bottom: none;
  border-left: none;
  border-top-right-radius: 10px;
  float: left;
  width: 262px;
  height: 44px;
}
ul.cards li .preheader p {
  color: #666666;
  font-family: "Trebuchet Regular", "Myriad Pro", Helvetica, Arial;
  font-size: 16px;
  padding: 20px 0 0 0;
}
ul.cards li .card {
  float: left;
  position: relative;
  background-color: white;
  border: 4px #1698d9 solid;
  color: black;
  border-top: none;
  width: 306px;
  height: 480px;
  background-repeat: no-repeat;
  background-position: left bottom;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
ul.cards li .card h2 {
  font-family: "Trebuchet Bold", "Myriad Pro", Helvetica, Arial;
  font-weight: 700;
  font-size: 48px;
  padding: 20px 0 0 42px;
  color: black;
  line-height: 40px;
}
ul.cards li .card h2 span {
  font-size: 24px;
}
ul.cards li .card p {
  font-family: "Trebuchet Regular", "Myriad Pro", Helvetica, Arial;
  color: #666666;
  font-size: 14px;
  padding: 0 0 0 42px;
  line-height: 1.2;
}
ul.cards li .card .weight {
  position: absolute;
  bottom: 10px;
  right: 10px;
  border-radius: 50%;
  background-color: #1698d9;
  width: 80px;
  height: 80px;
}
ul.cards li .card .weight p {
  color: white;
  font-family: "Trebuchet Regular", "Myriad Pro", Helvetica, Arial;
  text-align: center;
  font-size: 21px;
  padding: 0;
}
ul.cards li .card .weight p.number {
  font-size: 42px;
  padding: 10px 0 0 0;
  line-height: 43px;
}
ul.cards li .call-to-action {
  float: left;
  padding: 15px 0 0 0;
  width: 100%;
}
ul.cards li .call-to-action p {
  display: block;
  font-family: "Trebuchet Regular", "Myriad Pro", Helvetica, Arial;
  font-size: 13px;
  text-align: center;
}
ul.cards li .call-to-action p a {
  text-decoration: none;
  color: #1698d9;
  border-bottom: 1px dashed #1698d9;
}
